/* Varuablees */
:root {
      --main-color: #026B8A;
      --scecondery-color: #0AC6FC;
  }
  /* End */
  /* Start Global Rules */
  * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
  }
  body {
        font-family: sans-serif;
  }
  .componens {
        text-align: center;
        padding: 50px 50px;
        height: 800px;
        width: 100%;
  }
  /* End  Global Rules */
  /* start header */
  header{
        background-image: url("../images/background-01.jpeg");
        background-size: cover;
        background-position-x: center;
        background-position-y: center;
        height: 105vh;
        width: 100%;
        position: relative;
  }
  header::before {
        content: "";
        height: 100%;
        width: 100%;
        background-color: #00000085;
        position: absolute;
  }
  header .bar {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: var(--main-color);
        padding: 10px 15px 0;
        width: 1000px;
        position: absolute;
        top: 55px;
        left: 15%;
        color: #fff;
  }
  header .logo {
        font-size: 25px;
        font-weight: bold;
        padding: 10px;
        font-family: monospace;
        cursor: pointer;
  }
  /* Start Navegtion */
  header nav {
        display: flex;
        width: 60%;
        line-height: 3.6;
  }
  header nav ul {
        display: flex;
        justify-content: space-between;
        width: 100%;
        list-style: none;
  }
  header nav ul li {
        text-transform: uppercase;
        font-size: 15px;
        cursor: pointer;
        transition: 0.3s;
        position: relative;
  }
  header nav ul li:hover {
        color: var(--scecondery-color);
  }
  header nav ul .home {
        color: var(--scecondery-color);
  }
  /* header nav ul .drop {
  
  } */
  header nav ul .drop::before {
        content: "";
        border: 4px solid #FFFFFF;
        border-bottom-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
        position: absolute;
        left: -11px;
        top: 26px;
        transition: 0.9s
  }
  header nav ul .drop:hover:before {
        border-color: var(--scecondery-color);
        border-bottom-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
  }
  /* Start PAGE Drop Dowen Hovering */
  header .page {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: -21%;
        top: 54px;
        background-color: #03a9f473;
        color: #FFFFFF;
  
  }
  header .page .page-one {
        display: grid;
        grid-template-columns: 1fr;
        width: 180px;
        text-align: inherit;
  
  }
  header .page .page-one li {
        font-size: 15px;
        border-bottom: 1px solid #0ac6fc2e;
        width: 100%;
        padding-left: 15px;
        text-transform: capitalize;
        line-height: 2.5;
        transition: 0.4s;
        display: none;
  }
  header nav ul .drop:hover .page .page-one li {
        display: block;
  }
  /* End PAGE Drop Dowen Hovering */
  header .page .page-one li:hover {
        background-color: var(--scecondery-color);
        color: #FFFFFF;
  }
  header .page .page-one li:last-child {
        border: none;
  }
  /* Start DROPDOWEN Hovering */
  header .dowen {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: -6%;
        top: 54px;
        background-color: #03a9f473;
        color: #FFFFFF;
        display: none;
  }
  
  header nav ul .drop:hover .dowen {
    display: block;
  }
  /* End DROPDOWEN Hovering */
  header .dowen .dowen-one {
        display: grid;
        grid-template-columns: 1fr;
        width: 180px;
        text-align: inherit;
  }
  header .dowen .dowen-one li {
        font-size: 15px;
        border-bottom: 1px solid #0ac6fc2e;
        width: 100%;
        padding-left: 15px;
        text-transform: capitalize;
        line-height: 2.5;
        transition: 0.4s;
  
  }
  header .dowen .dowen-one li:hover {
        background-color: var(--scecondery-color);
        color: #FFFFFF;
  }
  header .dowen .dowen-one li:last-child {
        border: none;
  }
  header .dowen .dowen-two {
        position: relative;
  }
  header .dowen .dowen-two::before {
        content: "";
        border: 4px solid #FFFFFF;
        border-bottom-color: transparent;
        border-left-color: transparent;
        border-right-color: transparent;
        position: absolute;
        left: 4px;
        top: 20px;
  }
  /* Start last-dowe Drop by hovering */
  header .dowen .last-dowen .dowen-three {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 100%;
        top: 0px;
        background-color: #03a9f473;
        width: 100%;
        display: none;
  }
  header .dowen .last-dowen .dowen-three li {
        padding-left: 10px;
  
  }
  header .dowen .dowen-two:hover .last-dowen .dowen-three {
        display:block;
  }
  /* End last-dowe Drop hovering */
  /* End Navegtion */
  /* Start Text & Button */
  header .text {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 55%;
        left: 15%;
        width: 100%;
        color: #fff;
  }
  header .text h1 {
        font-size: 75px;
        margin-bottom: 20px;
        font-family: emoji;
  }
  header .text p {
        font-size: 17px;
        width: 640px;
        margin-bottom: 50px;
        line-height: 1.6;
        font-family: emoji;
  }
  header .buttn button:first-child {
        padding: 13px 25px;
        border-radius: 18px;
        font-size: 15px;
        background-color: var(--scecondery-color);
        color: #fff;
        margin-right: 15px;
        border: 1px solid;
        cursor: pointer;
        transition: 0.3s
  }
  header .buttn button:first-child:hover {
        background-color: transparent;
  }
  header .buttn button:last-child {
        padding: 13px 25px;
        border-radius: 18px;
        font-size: 15px;
        background-color: transparent;
        color: #fff;
        margin-right: 5px;
        border: 1px solid;
        cursor: pointer;
        transition: 0.3s
  }
  header .buttn button:last-child:hover {
        background-color: var(--scecondery-color);
  }
  /* End Text & Button */
  /* end header */
  /* Start Frsit Section */
  .f-bar {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-items: center;
        background-color: var(--main-color);
        width: 100%;
        height: 145px;
        padding: 0 80px 0 80px;
  }
  .f-bar .call {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 14%;
        align-items: center;
  }
  .f-bar .mail {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 15%;
        align-items: center;
  }
  .f-bar .time {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 14%;
        align-items: center;
  }
  .f-bar .loca {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 16%;
        align-items: center;
  }
  .f-bar .font-a {
        font-size: 20px;
        font-weight: bold;
        background-color: rgba(255,255,255,.2);
        width: 45px;
        height: 45px;
        text-align: center;
        line-height: 2.4;
        border-radius: 50%;
        color: var(--scecondery-color);
        cursor: pointer;
        transition: 0.4s;
  }
  .f-bar .font-a i {
        transition: 0.5s;
  }
  .f-bar .font-a:hover {
        background-color: var(--scecondery-color);
        color: #FFFFFF
  }
  
  .f-bar .text {
        color: #FFFFFF;
  }
  .f-bar .text h4 {
        font-size: 17px;
        padding-bottom: 10px;
  }
  .f-bar .text p span {
        color: var(--scecondery-color);
  }
  /* End Frsit Section */
  /* Start Second Section */
  .mauris {
        position: relative;
  }
  .mauris .heading {
        position: absolute;
        top: -120px;
        left: 41%;
  }
  .mauris .heading p {
        font-size: 12px;
        text-align: center;
        margin-bottom: 6px;
        opacity: 75%;
  }
  .mauris .heading h3 {
        font-size: 20px;
        font-weight: normal;
        opacity: 75%;
  }
  .boxs {
        display: flex;
        flex-flow: row wrap;
        width: 1200px;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 12% auto;
        padding-top: 55px;
  }
  .boxs .box {
        width: 360px;
        margin-top: 35px;
        border: 1px solid var(--scecondery-color);
        position: relative;
        padding: 40px 20px;
        margin: 20px;
        cursor: pointer;
  }
  .boxs .box:hover  {
        background-color: var(--main-color);
  }
  .boxs .box h4 {
        margin-bottom: 20px;
        font-size: 22px;
        opacity: 75%;
        transition: 1s;
  }
  .boxs .box:hover h4 {
        color: #FFFFFF;
        opacity: 100%;
  }
  .boxs .box p {
        margin-bottom: 20px;
        font-size: 15px;
        line-height: 1.4;
        opacity: 75%;
        transition: 1s;
  }
  .boxs .box:hover p {
        color: #FFFFFF;
        opacity: 100%;
  }
  .boxs .box a {
        text-decoration: none;
        color: #000;
        opacity: 75%;
        transition: 0.5s;
  }
    .boxs .box:hover a  {
        color: var(--scecondery-color);
        opacity: none;
  }
  .boxs .icons {
        background-color: #03566f;
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 2;
        font-size: 30px;
        color: #fff;
        position: absolute;
        top: -25px;
        left: 80%;
        transition: 0.5s;
  }
  .box:hover .icons {
        background-color:var(--scecondery-color);
  }
  /* End Second Section */
  /* Start Section Three */
  .componens {
        background-image: url("../images/background-02.jpeg");
        background-size: cover;
        background-position-x: center;
        height: 80vh;
  }
  .componens .heading {
    padding-top: 30px;
  }
  .componens .heading h3 {
        color: #FFFFFF;
        font-size: 20px
  }
  .componens .heading p {
        color: #FFFFFF;
        font-size: 12px
  }
  .post {
        display: flex;
        flex-direction: row-reverse;
        text-align: start;
        background-color: #fff;
        padding: 50px;
        margin: 8% auto;
        position: relative;
        width: 1145px;
  }
  .post .photo img {
        width: 317.47px;
        height: 359.42px;
  }
  .post .commnet {
        position: absolute;
        left: 4%;
  }
  .post .commnet h4 {
        font-size: 20px;
  }
  .post .commnet p:first-of-type {
        font-size: 15px;
        padding-top: 10px;
        width: 600px;
        line-height: 1.6;
  }
  .post .commnet p:last-of-type {
        font-size: 15px;
        padding-top: 10px;
        width: 600px;
        line-height: 1.6;
  }
  .post .commnets {
        position: absolute;
        bottom: 10%;
        left: 6%;
        width: 600px;
        height: 250px;
        display: flex;
        flex-flow: column wrap;
        padding-top: 42px;
  }
  .post .commnets .num {
        position: relative;
        padding-top: 8px
  }
  .post .commnets .number {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: var(--scecondery-color);
        color: #fff;
        text-align: center;
        transform: translateY(10px);
        left: -28px;
        position: relative;
        top: 11px;
        line-height: 1.6;
        font-size: 15px;
        transition: 0.6s;
  }
  .post .commnets .number:hover {
        background-color: #03566f;
  }
  .post .commnets span {
        font-size: 15px;
        padding: 5px;
  }
  /* End Section Three */
  