/* The Global Rules */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: sans-serif;
}
/* The End */
/* main div */
.main {
    background-color: #eee;
    display: grid;
    grid-template-columns: 36% 36%;
}
/* the end */
/* basic */
.main .basic {
    background-color: #fff;
    margin: 50% auto;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 500px;
    position: relative;
    z-index: 1;
    margin-left: 280px;
}
.main .basic::before {
    content: "";
    background-color: #f44336;
    width: 500px;
    height: 52px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.main .basic::after {
    content: "Save 50%";
    background-color: #2196f3;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    width: 139px;
    position: absolute;
    top: -55px;
    left: 855px;
}
.main .basic h2 {
    font-size: 17px;
    margin-bottom: 15px;
    color: #fff;
}
.main .basic p {
    margin: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 35px;
    padding-left: 35px;
    width: 500px;
    left: -30px;
    position: relative;
    font-weight: lighter;
    text-transform: capitalize;
    font-size: 15px;
}
.main .basic p:last-child {
    border: none;
}
/* the end */
/* pro */
.main .pro {
    background-color: #fff;
    margin: 50% auto;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 500px;
    position: relative;
    z-index: 1;
    margin-left: 200px;
}
.main .pro::before {
    content: "";
    background-color: #2196f3;
    width: 500px;
    height: 52px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.main .pro::after {
    content: "";
    border: 10px solid #eee;
    position: absolute;
    top: -52px;
    left: 473px;
    padding: 8px;
    transform: rotate(45deg);
    background-color: #eee;
}
.main .pro h2 {
    font-size: 17px;
    margin-bottom: 15px;
    color: #fff;
}
.main .pro p {
    margin: 10px;
    border-bottom: 1px solid #eee;
    padding-bottom: 35px;
    padding-left: 35px;
    width: 500px;
    left: -30px;
    position: relative;
    font-weight: lighter;
    text-transform: capitalize;
    font-size: 15px;
}
.main .pro p:last-child {
    border: none;
}
/* the end */
/* before & after */
.main p:not(.exs)::before {
    content: "";
    border: 5px solid #009688;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    background-color: #009688;
}
.main p:not(.exs)::after {
    content: "L";
    position: absolute;
    left: 15px;
    top: 2px;
    font-size: 12px;
    color: #fff;
    font-weight: bold;
    transform: rotate(45deg) rotateY(180deg);
}
   
.main .exs::before {
    content: "";
    border: 5px solid #e91e63;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    left: 10px;
    background-color: #e91e63;
}
.main .exs::after {
    content: "x";
    position: absolute;
    left: 16px;
    top: 4px;
    font-size: 10px;
    color: #fff;
    font-family: fantasy;
}
/* the end */




