/* Virebil */
:root {
    --main-color: #2196f3;
}
/* Virebil */
/* The Global Rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #000;
    color: #9e9e9e;
}
.component {
    width: 100%;
    text-align: center;
    line-height: 1.6;
    background-color: #eee;
    /* margin-left: 30px; */
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.flex-component {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 50px;
}
.flex-content {
    display: flex;
    width: 300px;
    justify-content: space-evenly;
    align-items: center;
}
/* The End */
/* Header */
.logo {
    font-size: 20px;
    font-weight: 700;
    padding: 15px;
}
/* End */
/* Section */
/* Elzero Servies */
.component h2:first-child {
    font-size: 30px;
    font-weight: 400;
    font-style: normal;
    padding: 10px;
    color: #000;
}
.component h2 span {
    padding-left: 5px;
    color: #2196f3;
}
.component p {
    margin: 10px 100px;
    padding-bottom: 10px;
    color: #000;
}
/* End */
/* Servies */
section article:nth-child(2) {
    margin: 10px 20px 90px;
    justify-content: space-around;
}
.performance {
    width: 200px;
    position: relative;
}
.performance img {
    width: 100px;
}
.performance h3 {
    font-size: 17px;
    position: absolute;
    left: -8px;
}
.performance p {
    font-size: 15px;
    text-align: center;
    line-height: 1.6;
    margin: 5px 0;
    position: absolute;
    left: -80px;
    top: 125px;
}
/* Servies */
/* About Us */
.component {
    position: relative;
}
.component img {
    width: 525px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
    left: 8%;
}
.component .about-h {
    position: absolute;
    top: -30px;
    left: 55%;
    margin-top: 66px;
    font-size: 30px;
    font-weight: 400;
    color: #000;
}
.component .about-p {
    position: absolute;
    top: 146px;
    width: 634px;
    left: 46%;
    text-align: left;
    color: #000;
}
/* About Us */
/* Score */
.score {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
    padding: 15px;
    width: 100%;
}
.score .flex-content {
    width: 650px;
}
.score .servies {
    background-color: #d32f2f;
    color: #fff;
    width: 200px;
    text-align: center;
    padding: 10px 15px;
}
.score .design {
    background-color: #496a90;
    color: #fff;
    width: 200px;
    text-align: center;
    padding: 10px 15px;
}
.score .client {
    background-color: #00897b;
    color: #fff;
    width: 200px;
    text-align: center;
    padding: 10px 15px;
}
.score h2 {
    font-size: 30px;
    font-weight: 400;
}
.score p {
    font-size: 10px;
}
/* Score */
/* Skills */
 .skil {
    margin-bottom: 30px;

}
.our-skill {
    margin: 10px;
    text-align: right;
    position: relative;
    left: -1250px;
}
.our-skill .skills {
    position: relative;
    height: 50px;
}
.our-skill .skills h4 {
    font-weight: 400;
    color: #000;
}
.our-skill .skills .prog-holder {
    height: 35px;
    display: flex;
    align-content: space-between;
    background-color: white;
    position: absolute;
    top: 0px;
    left: 101%;
    width: 50%;
}
.our-skill .skills .prog-holder span {
    width: 60%;
    background-color: var(--main-color);
    height: 100%;
    display: block;
    color: white;
}
.our-skill .skills .prog-holder span::after {
    content: attr(data-progress);
    color: white;
}
/* Skills */
/* End */
/* Footer */
footer {
    background-color: #000;
    color: white;
    padding: 20px;
    margin-left: 30px;
    height: 100%;
}
footer p a {
    text-decoration: none;
    padding-left: 5px;
    color: var(--main-color);
}
/* End */